@charset "UTF-8";
/* CSS Document */

body {
	background: url(../images/triangular.png);
}

header {
	padding: 10px 10px 0 70px;
	height: 150px;
	//color: #555;
	font-size: .9em;
	//background: url('recommendatorlogo.png') no-repeat left top;
}

.friendinfo {
	border-top: 4px solid rgba(241, 196, 15,0.9);
	height: 74px;
	margin: 20px 0;
	padding: 10px 0;
	background: rgba(241, 196, 15,0.5);
	margin-bottom: 1px;
}

.friendinfo h2 {
	font: bold 1.8em/.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(26, 188, 156,1.0);
	text-shadow: 0 1px 0 rgba(255, 255, 255,1.0); /* X , Y , BLUR , Color */
	margin: 0 0 4px 0;
	padding: 0;
}

.friendinfo h3 {
	font: normal 1.2em/.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(44, 62, 80,1.0);
	margin: 0;
	padding: 0;
}

.friendinfo  img {
	float: left;
	margin-left: 10px;
	margin-right: 8px;
}

ul.movies {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 5px 0;
}

ul.movies li {
	float: left;
	position: relative;
	padding-right: 10px;
	height: 100px;
	width: 100px;
}

ul.movies li .movieinfo {
	display: none;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding: 20px;
	font-size: .8em;
	width: 200px;
	height: 180px;
	max-height: 280px;
}

ul.movies li .movieinfo .wrapper {
	height: 150px;
	max-height: 250px;
	overflow: hidden;
}

ul.movies li:hover .movieinfo {
	display: block;
	background: rgba(44, 62, 80,0.8);
	position: absolute;
	bottom: 115px;
	left: 0;
	z-index: 10;
}

ul.movies li .movieinfo h3 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: rgba(231, 76, 60, 1.0);
	text-shadow: 1px 1px 0 rgba(192, 57, 43,1.0);
	line-height: 1em;
	padding-bottom: 5px;
}

ul.movies li .movieinfo p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #fff;
	line-height: 1.4em;
}

img .img-brick {
	height: 100px;
	width: 100px;
}

.paging {
	padding: 10px;
	text-align: center;
}

.pagenav {
	display: block;
	border-top: 2px dotted #333;
	padding:  5px 0;
	margin-bottom: 10px;
}

.paging .info {
	display: block;
	float: left;
	text-align: center;
	margin-top: 20px;
}

.paging p {
	display: block;
	float: left;
	text-align: center;
	margin-top: 30px;
}

.paging .next {
	float: left;
}

.paging .previous {
	float: left;
}
	
.paging .number a {
	padding: 0 5px;
	text-decoration: none;
	float:left;	
}

.paging .number.current a {
	display: inline-block;
	color: white;
	background: rgba(242, 58, 41, .8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 5px;
}